{% extends 'base.html' %}

{% block content %}
<section class="grid-container usa-section">
  <div class="grid-row flex-justify-center">
    <div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-8">
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        {% if validlink %}
          <h3>Change password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
        </div>
    </div>
  </div>
</section>
{% endblock %}