{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<section class="grid-container usa-section">
  <div class="grid-row flex-justify-center">
    <div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-8">
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <h1 class="margin-bottom-0">Forgot password</h1>
        <form class="usa-form" method="POST">
          {% csrf_token %}
          {{ form.as_p }}

          <input class="usa-button" type="submit" value="Submit" />
          {% if form.non_field_errors %}
          <div class="usa-alert usa-alert--error" role="alert">
            <div class="usa-alert__body">
              <p class="usa-alert__text" style="margin-left: 0;">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </p>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
