libspatialite-5.1.0/*
.ipynb_checkpoints/
data/
imagery_utils/
*.dll
*.exe
*.sqlite3
*.db
*.log
python
gaia/__pycache__/*
static/admin/*
static/gis/*
static/uswds/img/material-icons/*
__pycache__/
*.py[cod]
*$py.class
*.pyc
gaia/secrets.json
.vscode/launch.json
.vscode/settings.json
staticfiles/*
animal/management/commands/__pycache__/*
external/