libspatialite-5.1.0/*
.ipynb_checkpoints/
data/
imagery_utils/
*.dll
*.exe
*.sqlite3
*.db
*.log
*.json
python
gaia/__pycache__/settings.cpython-311.pyc
static/admin/*
static/gis/*
static/uswds/img/material-icons/*
*.py[cod]
__pycache__/
