{% load static %}
{% include 'sections/header.html' %}
<section class="grid-container usa-section  padding-top-0">
    <div class="grid-row flex-justify-center">
        <div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-12">
            <h1>Blind Reviews</h1>
            <table class="usa-table usa-table--bordered usa-table--striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User 1</th>
                        <th scope="col">User 2</th>
                        <th scope="col">User 3</th>
                        <th scope="col">Final Review</th>
                        <th scope="col">Final Review Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in page_obj %}
                    <tr>
                        <td><a href="{% url 'exploitation_page' %}?id={{ review.id }}">{{ review.id }}</a></td>
                        <td>{% if review.user1_classification %}{{ review.user1_classification }}{% endif %}</td>
                        <td>{% if review.user2_classification  %}{{ review.user2_classification }}{% endif %}</td>
                        <td>{% if review.user3_classification  %}{{ review.user3_classification }}{% endif %}</td>
                        <td>{% if review.final_review  %}{{ review.final_review }}{% endif %}</td>
                        <td>{% if review.final_review_date  %}{{ review.final_review_date }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Pagination" class="usa-pagination">
            <ul class="usa-pagination__list">
            {% if page_obj.has_previous %}
                <li class="usa-pagination__item usa-pagination__arrow">
                <a class="usa-pagination__link" href="?page=1">
                    <span class="usa-pagination__link-text">First</span>
                </a>
                </li>
                <li class="usa-pagination__item usa-pagination__arrow">
                <a class="usa-pagination__link" href="?page={{ page_obj.previous_page_number }}">
                    <span class="usa-pagination__link-text">Previous</span>
                </a>
                </li>
            {% endif %}

            <li class="usa-pagination__item usa-pagination__page-no">
                <span class="usa-pagination__link-text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="usa-pagination__item usa-pagination__arrow">
                <a class="usa-pagination__link" href="?page={{ page_obj.next_page_number }}">
                    <span class="usa-pagination__link-text">Next</span>
                </a>
                </li>
                <li class="usa-pagination__item usa-pagination__arrow">
                <a class="usa-pagination__link" href="?page={{ page_obj.paginator.num_pages }}">
                    <span class="usa-pagination__link-text">Last</span>
                </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</section>
</body>
{% include 'sections/footer.html' %}
</html>
