{% load static %}
{% include 'sections/header.html' %}
<section class="grid-container usa-section padding-top-0">
	<h1>Collections</h1>
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			 crossorigin=""></script>
		<div class="grid-row flex-justify-center">
			<div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-12">

	<div class="container">
		<div class="flex-container">
			<div class="form-container">
				<div class="usa-alert usa-alert--info usa-alert--slim">
					<div class="usa-alert__body">
					  <p class="usa-alert__text">
						Do not change your API between querying and extracting records.
					  </p>
					</div>
				  </div>

				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Query</button>
				</form>
			</div>
		</div>
		<div class="map-container padding-top-5">
			<div id="map" class="map" style="height: 500px;">

			</div>
		</div>
			
		
		{% if results %}
			<h2>Results</h2>
			
			{%if message %}
				<strong>{{ message }}</strong><br><br>
			{% endif %}
			
			<form method="POST">
				{% csrf_token %}
				<input type="checkbox" id="select-all">Select/Deselect all
					{{ results|safe }}
				<div class="btn-group">
					<button type="submit" name="extracted_selected">Extract Selected</button>
				</div>
			</form>
		{% endif %}
		
		{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	

	
	<script>
		// Initialize the map with a default view
		var map = L.map('map').setView([39.8283, -98.5795], 4);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; OpenStreetMap contributors'
		}).addTo(map);
		
		// If an area of interest is selected, plot it and zoom to its bounds
		{% if area_of_interest_geojson %}
		var areaOfInterest = {{ area_of_interest_geojson|safe }}
		var aoiLayer = L.geoJSON(areaOfInterest, {style: {color: 'blue', fillOpacity: 0}}).addTo(map);
		
		var bounds = [[{{ aoi_bounds.1 }}, {{ aoi_bounds.0 }}], [{{ aoi_bounds.3 }}, {{ aoi_bounds.2 }}]]
		map.fitBounds(bounds);
		{% endif %}
		
		// If results are present, plot them on the map
		{% if results_geojson %}
		var resultsGeoJson = {{ results_geojson|safe }};
		L.geoJSON(resultsGeoJson, {
			onEachFeature: function (feature, layer) {
				layer.bindPopup('<strong>ID:</strong>' + feature.properties['Vendor ID']);
			}, style: {color: 'red', fillOpacity: 0}
		}).addTo(map);
		{% endif %}
		
		// Event listener for individual checkboxes
		let individualCheckboxes = document.querySelectorAll('input[name="selected"]');
		individualCheckboxes.forEach(function (checkbox) {
			checkbox.addEventListener('change', function () {
				if (checkbox.checked) {
					let tdValues = [];
					let tds = checkbox.closest('tr').querySelectorAll('td');
					tds.forEach(function (td) {
						let textContent = td.textContent;
						if (textContent !== undefined && textContent !== null) {
							tdValues.push(textContent.trim());
						}
					});
					console.log(tdValues); // Ouputs the values of the <td> elements
					
					// Create hidden inputs to pass data back to the server
					tdValues.forEach((value, index) => {
						let hiddenInput = document.createElement('input');
						hiddenInput.type = 'hidden';
						hiddenInput.name = `row_data_${checkbox.value}_${index}`;
						hiddenInput.value = value;
						checkbox.form.appendChild(hiddenInput);
					});
				} else {
					document.querySelectorAll(`input[name^="row_data_${checkbox.value}_"]`).forEach(input => input.remove());
				}
			});
		});
		
		//document.getElementById('form').addEventListener('change', function () {
		//	document.getElementById('api-hidden-input').value = this.value;
		//});
		
		//document.getElementById('data-form').addEventListener('submit', function () {
		//	document.getElementById('api-hidden-input').value = //document.getElementById('select-api').value;
		//});
	</script>
</div></div></section>
</body>
{% include 'sections/footer.html' %}
</html>