{% load static %}
{% include 'sections/header.html' %}
<section class="grid-container usa-section">
    <div class="grid-row flex-justify-center">
        <div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-12">
            <ul class="usa-card-group">
                <!-- <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href="" class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Areas of Interest</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    View a map of areas of interest currently 
                                    or historically tasked by GAIA.
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href="" class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Collection</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>Identify imagery from primary repositories to queue up for processing.</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href="" class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Processing</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>Download, calibrate, tile, and upload to Azure with spectral anomaly detection for review.</p>
                            </div>
                        </a>
                    </div>
                </li> -->
                <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href="detect"
                           class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Detect</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>View images cell by cell for animals.</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href="annotation"
                           class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Annotate</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>Identify and label potential animals or other objects in satellite images.</p>
                            </div>
                        </a>
                    </div>
                </li>
                {% if user.is_superuser %}
                    <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                        <div class="usa-card__container">
                            <a href="validation"
                            class="text-no-underline text-ink">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">Validate</h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>Review and confirm or revise animal annotations and classifications.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                {% endif %}
                <!-- <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 desktop:grid-col-4">
                    <div class="usa-card__container">
                        <a href=""
                           class="text-no-underline text-ink">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">Dissemination</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>Review overall data and progress to guide further tasking or processing.</p>
                            </div>
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</section>
</body>
{% include 'sections/footer.html' %}
</html>
